.image-card {
    min-width: 388px;
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.4s;
    margin: 0 30px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: black;
}

.image-card:hover {
    height: 280px;
    min-width: 398px;
    margin: 0 25px;
    box-shadow: 2px 2px 5px rgb(90, 90, 90);
}


.text {
    color: white;
    margin: 0 10px;
    position: relative;
    top: 84.4%;
    font-size: 30px;
    
}

.text-container{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
    background-image: linear-gradient(rgb(255, 0, 0, 0), rgb(255, 0, 0, 0), rgb(255, 0, 0, 0), rgb(0, 0, 0));
}

.text-container:hover {
    opacity: 1;
}