

.header {
    z-index: 999;
    height: auto;
    background-color: rgb(196, 196, 196);
    padding: 21px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* width: 100%; */
}

.logo {
    background-image: url("./images/LogoPNG.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 210px;
    cursor: pointer;
}

.pages {
    display: flex;
}

.links {
    
    display: flex;
    padding: 0 10px;
    padding-top: 23px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(77, 77, 77);
}

.single_link:hover {
    color: black;
    cursor: pointer;
    text-shadow: 2px 5px 8px #000000;
    font-size: 15.7px;
    margin-top: -5px;
}

.single_link {
    
    word-spacing: normal;
    margin-left: 30px;
    transition: 0.3s;
    user-select: none;
    font-size: 15px;
}

.single_link:active {
    color: black;
    cursor: pointer;
    text-shadow: 2px 5px 8px #333333;
    font-size: 15.4px;
    margin-top: -3px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #535353;
    margin: 6px 0;
    transition: 0.4s;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    background-color: #000000;
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    background-color: #000000;
}

.lang {
    background-image: url("./images/langEN.png");
    width: 30px;
    height: 18px;
    margin-left: 30px;
}

a   {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

a:hover {
    color: rgb(0, 0, 0);
}