

.container {
    flex-wrap: wrap;
    padding: 40px 0;
    display: flex;
    align-items: center;
    cursor: context-menu;
    justify-content: center;
}

.portfolio-h2, .portfolio-h1{
    display: flex;
    justify-content: center;
}

